---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
---

<Layout title="Howdy">
  <main class="gradient-background">
    <nav>
      <div class="icon-container">
        <Icon icon="frankie-title" />
      </div>
    </nav>

    <div class="content">
      <span class="prefix">I’m Frankie, a</span>
      <div class="rotating-role">
        <span class="role prev">pet parent</span>
        <span class="role current">UX designer</span>
        <span class="role next">cyclist</span>
      </div>
      <span class="suffix">based in Philadelphia, PA.</span>
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
  }

  main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: minmax(10%, 20%) auto;
    grid-template-columns: auto;
  }

  .gradient-background {
    background-color: hsla(41, 89%, 61%, 1);
    background-image: radial-gradient(at 26% 74%, hsla(340, 38%, 64%, 1) 0px, transparent 50%),
      radial-gradient(at 73% 75%, hsla(215, 68%, 25%, 1) 0px, transparent 50%),
      radial-gradient(at 95% 76%, hsla(215, 68%, 25%, 1) 0px, transparent 50%),
      radial-gradient(at 22% 11%, hsla(3, 71%, 49%, 1) 0px, transparent 50%),
      radial-gradient(at 45% 19%, hsla(51, 96%, 68%, 1) 0px, transparent 50%),
      radial-gradient(at 7% 16%, hsla(340, 38%, 64%, 1) 0px, transparent 50%),
      radial-gradient(at 5% 94%, hsla(340, 38%, 64%, 1) 0px, transparent 50%);
  }

  nav {
    grid-row: 1;
  }

  div.icon-container {
    padding: 50px;
  }

  div.content {
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
  }

  div.rotating-role {
    display: flex;
    flex-direction: column;
    margin: 0.5ch;
    line-height: 1.75;
  }

  span.prev,
  span.next {
    opacity: 0.2;
    padding-left: 0.75ch;
  }

  span.current {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 12px;
    padding: 0 0.5ch;
  }
</style>
