---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
import Roles from '../components/Roles.astro';
---

<Layout title="Howdy">
  <main>
    <div id='main-content'>
      <nav>
        <span>frankie ahlers</span>
      </nav>

      <div id='center-content'>
        <div class='side-menu' id='left-menu'>
          <div>ig</div>
          <div>email</div>
        </div>

        <div id='eyes-container'>
          <div id='eyes'>
            EYES
          </div>
        </div>

        <div class='side-menu' />
      </div>

      <footer>
        <span>work</span>
        <span>about</span>
      </nav>
    </div>

    <style>
      body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }

      #main-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #007AFF;
      }

      main {
        margin: 2rem;
        height: -webkit-fill-available;
      }

      nav {
        text-transform: uppercase;
        text-align: center;
        font-size: 4vw;
        font-weight: 700;
      }

      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 4vw;
        font-weight: 700;
      }

      #center-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      #eyes-container {
        height: 100%;
        flex-grow: 1;
        display: grid;
        justify-items: center;
        align-items: center;
      }

      .side-menu {
        width: 50px;
      }

      #left-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      #eyes {
        grid-row: 1;
        grid-column: 1;
      }
    </style>
  </main>
</Layout>
