---
import Layout from '../layouts/Layout.astro';
import Eyes from '../components/Eyes.astro';

const linkedInUrl = 'https://www.linkedin.com/in/frankie-ahlers-660a30233/';
const socials = [
  {
    name: "Instagram",
    url: "https://instagram.com/frankiescribbles",
    icon: "i-uil-instagram",
  },
  {
    name: "Email",
    url: "mailto:frankieahlers@gmail.com",
    icon: "i-uil-envelope",
  },
];
---

<Layout title="Howdy">
  <main>
    <div id='main-content'>
      <nav>
        <span>frankie ahlers</span>
      </nav>

      <div id='center-content'>
        <div class='side-menu' id='left-menu'>
          {
            socials.map((item) => (
              <a href={item.url} target="_blank" title={item.name}>
                <div class:list={[item.icon, "p-6"]} />
              </a>
            ))
          }
        </div>

        <div id='eyes-container'>
          <div id='eyes'>
            <Eyes />
          </div>
        </div>

        <div class='side-menu' />
      </div>

      <footer>
        <span><a href={linkedInUrl}>work</a></span>
        <span>about</span>
      </nav>
    </div>

    <style>
      body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
      }

      #main-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: blue;
      }

      main {
        margin: 2rem;
        height: -webkit-fill-available;
      }

      a {
        text-decoration: none;
        color: blue;
      }

      nav {
        text-transform: uppercase;
        text-align: center;
        font-size: 4vw;
        font-weight: 700;
      }

      footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 4vw;
        font-weight: 700;
      }

      #center-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      #eyes-container {
        height: 100%;
        flex-grow: 1;
        display: grid;
        justify-items: center;
        align-items: center;
      }

      .side-menu {
        width: 50px;
      }

      #left-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      #eyes {
        grid-row: 1;
        grid-column: 1;
      }
    </style>
  </main>
</Layout>
