---
import MainLayout from '../layouts/main.astro';
import Eyes from '../components/Eyes.astro';

const socials = [
  {
    name: "Instagram",
    url: "https://instagram.com/frankiescribbles",
    icon: "i-uil-instagram",
  },
  {
    name: "Email",
    url: "mailto:frankieahlers@gmail.com",
    icon: "i-uil-envelope",
  },
];
---

<MainLayout title="Howdy">
  <div class='side-menu' id='left-menu'>
    {
      socials.map((item) => (
        <a href={item.url} target="_blank" title={item.name}>
          <div class:list={[item.icon, 'social-icon']} />
        </a>
      ))
    }
  </div>

  <div id='eyes-container'>
    <div id='eyes'>
      <Eyes />
    </div>
  </div>

  <div class='side-menu' />

  <style>
    #eyes-container {
      flex: 1;
      flex-grow: 1;
      display: grid;
      justify-items: center;
      align-items: center;
    }

    .side-menu {
      width: 50px;
    }

    #left-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .social-icon {
      padding: 1.75rem;
    }

    #eyes {
      grid-row: 1;
      grid-column: 1;
    }

    @media (max-width: 500px) {
      .side-menu {
        width: 35px;
      }

      .social-icon {
        padding: 0.75rem;
      }
    }
  </style>
</MainLayout>
